.mine-span{
    text-align: center;
}

.mine-span span{
    display: inline-block;
    width: 180px;
    height: 100%;
    cursor: pointer;
    padding: 0px 5px;
}
.mine-span span:nth-of-type(2){

    border: 2px solid #ccc;
    border-top: 0px;
    padding: 0px 28px;
    /*margin: 0 50px;*/
    border-bottom: 0px;
}
#mine-table tr{
    border-bottom: 1px solid #ccc;
}
#mine-table img{
    display: inline-block;
    width: 70px;
    height: 70px;
}
#mine-table ul li{
    margin:10px 0;
}
#mine-table button:hover{
    color:darkred;
    border-color:darkred ;
    background: white;
}