<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/adminHeader::html('商品详情页')" >

<body>
<script>
    $(function () {
        var uri='products'

        var vue=new Vue({
            el:'#detail',
            data:{
                pid:0,
                product:{},
                buynum:2,
                totalprice:22,
                uid:0,
                account:'',
                pwd:'',
                user:{}
            },
            mounted:function () {
                this.get();
            },
            created:function(){
                this.uid=$('#uid').val()
            },
            methods:{
                get:function () {

                    var id=getUrlParms("p");
                    this.pid=id;
                    //发送请求详情页的数据，product，review,property
                    var url=uri+"/"+this.pid;
                    axios.get(url).then(function (response) {
                        vue.product=response.data
                        vue.buynum=1;
                        vue.totalprice=(vue.product.price)*vue.buynum;
                    })
                },
                login:function(){
                    if(!checkEmpty(this.account, "账号"))
                        return;
                    if(!checkEmpty(this.pwd, "密码"))
                        return;
                    axios.post("/login",{
                        account:vue.account,
                        pwd:vue.pwd,
                    }).then(function (value) {
                        vue.uid=value.data.id
                        console.log(vue.uid)
                        // vue.user=value.data
                        $('#myModal').modal('hide');
                        window.location.reload()
                    })

                },
                addCart:function(){

                    if(this.uid===undefined||this.uid===0){
                       //弹出模态框
                        $("#myModal").modal({
                            backdrop: "static",
                            keyboard: false,
                        });
                    }else {
                        axios.post("/carts",{
                            buynum:vue.buynum,
                            uid:vue.uid,
                            product:vue.product,
                            subprice:vue.totalprice
                        }).then(function (value) {
                            // alert("ok")
                        })
                    }

                },
                num:function (args) {
                    console.log("price"+this.totalprice)
                    if(args===0){
                        confirm("数量至少为1")
                        this.buynum=1;
                    }else{
                        this.buynum=args;
                    }
                    this.totalprice=this.product.price*this.buynum;

                }
            }
        })
    })
</script>
<div id="detail">
    <input type="hidden"  id="uid" th:if="${name!=null}" th:value="${name.id}">
    <div class="topbar">
        <div class="left">首页</div>
        <div class="right">
            <ul>

                <li th:if="${name!=null}"  >
                    <a :href="'/personPage?sc='+uid" th:text="${name.account}" target="_blank"></a>
                </li>
                <li th:if="${name==null}"><a href="/loginPage" target="_blank" id="login">登录</a></li>
                <li th:if="${name==null}"><a href="/registePage">注册</a></li>
                <!--<li><a ">个人中心</a></li>-->
                <li><a :href="'/cartPage?sc='+uid" >购物车</a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
    </div>
    <div class="detail_center">
        <div class="left left-wrap">
            ddd
        </div>
        <div class="right right-product-show w900">
               <div class="left product-img">
                   <img :src="'static/img/product/'+pid+'.jpg'"  class="img-thumbnail" :alt="product.goodsname">
               </div>
                <div class="left product-right-wrap">
                    <ul>
                        <li>
                            <span>{{product.goodsname}}</span>
                        </li>
                        <li>
                            <span>价格</span><strong style="color: red"><sup>￥</sup>{{product.price}}</strong>
                        </li>
                        <li>
                            <span>已售</span><i>{{product.salenum}}</i>&nbsp;&nbsp;件
                        </li>
                        <li>
                            <span> 数量</span><input type="text" :value="buynum">
                            <input type="button" value="+" @click="num(buynum+1)" style="width: 20px;height: 20px;">
                            <input type="button" value="-" @click="num(buynum-1)" style="width: 20px;height: 20px;">
                        </li>
                        <li>

                            <span>价格</span><strong style="color: red"><sup>￥</sup>{{totalprice}}</strong>
                        </li>
                    </ul>
                    <div class="buy left"><a :href="'/buyPage?id='+product.id+'&buynum='+buynum">立即购买</a></div>
                    <div class="add-cart left" @click="addCart" title="加入购物车">
                        <span>加入购物车</span>
                    </div>
                </div>
        </div>
    </div>

    <!--模态框-->
    <div class="modal fade"   id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">订单信息</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="message-text" class="control-label" >账号:</label>
                        <input class="form-control" id="message-text" v-model="account"></input>
                    </div>
                    <div class="form-group">
                        <label for="message-text2" class="control-label">密码:</label>
                        <input class="form-control" id="message-text2" v-model="pwd"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">继续看看</button>
                    <button type="button" class="btn btn-success" @click="login">登录</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


</body>
</html>