<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/adminHeader::html('首页')" >

</head>
<body>
<script>
    $(function(){
        var vue=new Vue({
            el:".wrap",
            data:{
                cid:0,
                uri:"products",
                beans:[],
                pagination:{},
                sdirection:1,
                pdirection:1,
                uid:0,
                user:{id:0},
                categories:[]
            },
            mounted:function () {
                this.get()
                this.login();


            },
            created:function(){
                this.uid=$('#uid').val()
            },
            methods:{
                get:function(){
                    axios.get('listcategory').then(function (value,err) {
                        vue.categories=value.data;
                        vue.list(0,vue.categories[0].id);
                    })

                },
                login:function(){
                  axios.get('cookie').then(function (value) {
                      console.log(value.data)
                      if(value.data.id!=undefined){
                          //vue.uid=value.data.id
                          vue.user=value.data
                      }else{
                      }
                  })
                },
                change:function(args){
                    // axios.get('category?name='+args).then(function (val) {
                    //     alert(val.data)
                    //
                    // })
                    vue.cid = args
                    this.list(0,args)
                },
                getCategory:function(cid){
                    var url = "categories/"+cid;
                    axios.get(url).then(function(response) {
                        vue.category = response.data;
                    })
                },
                //默认先使用显卡的内容
                list:function(start,cid){
                    var url =  "categories/"+cid+"/"+this.uri+"?start="+start;
                    axios.get(url).then(function(response) {
                        console.log(response)
                        vue.pagination = response.data;//分页的属性
                        vue.beans = response.data.content;
                    });
                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                },
                changeArr:function (args) {
                    arr=this.beans;
                    if(args==='new'){

                      this.beans.reverse()
                    }
                    if(args==='sale'){
                        if((this.sdirection)==1){
                            arr.sort(
                            (a,b)=> a.salenum-b.salenum
                            )
                        }else {
                            arr.sort(function (a,b) {
                                a=a.salenum
                                b=b.salenum
                                return (b-a);
                            })
                        }
                        this.beans=arr;
                        this.sdirection=-this.sdirection;
                    }
                    if(args==='price'){
                        if((this.pdirection)==-1){
                            arr.sort(function (a,b) {
                                a=a.price
                                b=b.price
                                return (b-a);
                            })
                        }else {
                            arr.sort(function (a,b) {
                                a=a.price
                                b=b.price
                                return -(b-a);
                            })
                        }
                        this.beans=arr;
                        this.pdirection=-this.pdirection;
                    }
                }
            }
        })
    })
</script>

<div class="wrap">
    <input type="hidden"  id="uid" th:if="${name!=null}" th:value="${name.id}">
    <div class="topbar">
        <div class="left"><a href="index">首页</a></div>
        <div class="right">
            <ul>

                <li v-if="user.id!=0">
                    <a :href="'/personPage?sc='+user.id" v-text="user.account"></a>
                </li>
                <li v-if="user.id==0"><a href="/loginPage">登录</a></li>
                <li v-if="user.id==0"><a href="/registePage">注册</a></li>
                <li v-if="user.id!=0"><a :href="'/cartPage?sc='+uid">购物车</a></li>
                <li v-if="user.id!=0"><a href="/logout">退出</a></li>
            </ul>
        </div>
    </div>

    <div class="center">
        <div class="main-guide ">
            <ul class="clearfix">
                <li>
                    <a href="">台式主机</a>
                </li>
                <li>
                    <a href="">笔记本</a>
                </li>
                <li>
                    <a href="">天梯图</a>
                </li>
            </ul>
        </div>
        <div class="search-area w900">
            <div class="searchbar">
                <form action="" >
                    <input type="text" class="searchcontent" name="sc">
                    <input type="submit" class="submit" placeholder="" value="搜索">
                </form>
            </div>
        </div>
        <div class="p-show w900">
            <div class="left-content left">
                <span>全部分类</span>
                <ul class="left-menu" >

                    <li v-for="category in categories" @click="change(category.id)"><a href="#">{{category.name}}<b> > </b></a></li>
                </ul>
            </div>
            <div class="right-content right">
                <ul class="clearfix topbar">
                    <li @click="changeArr('new')"><span>新品</span></li>
                    <li @click="changeArr('sale')"><span>销量</span></li>
                    <li @click="changeArr('price')"><span>价格</span></li>
                </ul>
                <div class="product-wrap">
                    <ul class="clearfix">
                        <li v-for="bean in beans">
                            <div>
                                <a :href="'/detail?p='+bean.id" target="_blank">
                                    <img :src="'static/img/product/'+bean.id+'.jpg'" alt="">
                                    <p>{{bean.goodsname}}</p>
                                    <sup>￥</sup><i>{{bean.price}}</i>
                                    <span>销量</span><i>{{bean.salenum}}</i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div th:replace="include/adminPage::html" ></div>
            </div>


        </div>

    </div>
</div>

<!--<footer th:replace="include/adminFooter::html" ></footer>-->
</body>
</html>
