<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/adminHeader::html('注册页面')" ></head>

<body>

<div class="container-fluid">
    <div class="container bg-light text-dark">

        <h2>注册新会员</h2>
        <div class="row container">
            <div class="col offset-md-1">
                <form class="form-group" action="registe" method="post">
                    <label for="account">用户名:</label>
                    <input type="text" data-toggle="tooltip"  name="account" title="" class="col-sm-5 form-control" id="account" placeholder="输入用户名">
                    <label for="pwd">密码:</label>
                    <input type="password" name="pwd" class="col-sm-5 form-control" id="pwd" placeholder="输入密码" >
                    <label for="confirm">确认密码:</label>
                    <input type="password" class="col-sm-5 form-control" id="confirm" placeholder="再次输入">
                    <button type="submit" class="btn btn-success">注册</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body>

<script>

    $("button").eq(0).click(function () {
        //提交form表单

        var rpwd=$("input").eq(2).val();

        var useraccount = $("input").eq(0).val();
        var userpwd = $("input").eq(1).val();

        if(userpwd!==rpwd){
            confirm("两次密码输入不一致");
            return false;
            //提交
        }else {
        }
        console.log(account,pwd);
   });

    $("input").eq(0).blur(function () {
        //发送请求，优化逻辑
        console.log("发送请求");
        axios.get("/checkaccount?account="+$("input").eq(0).val()).then(function(response){
            console.log(response);
           if(response.data==1){
               confirm("用户名已存在");
               $("input").eq(0).val("");
               $("input").eq(0).focus()
           }
        });

    })
</script>
</html>